{### base.htmlを継承する ###}
{% extends 'base.html' %}

{### staticディレクトリ配下を参照するおまじない ###}
{% load static %}

{### ページタイトル（タブに表示されるとこ）を定義 ###}
{% block title %}旅のしおり詳細{% endblock %}

{### ページごとのcssを定義 ###}
{% block extra_css %}
{% endblock  %}

{### ページの内容を定義 ###}
{% block content %}
  {### パンくずリスト ###}
  <div class="ui breadcrumb">
      <a class="section" href="{% url 'bookmarkapp:index' %}">旅行のしおり一覧</a>
      <div class="divider"> > </div>
      <div class="active section">2020/01/01 ~ 2020/01/05 インド旅行</div>
  </div>
  <!-- タイトル -->
  <div class="ui grid" style="margin-top:30px;">
      <div class="thirteen wide column">
          <h2 class="ui header">
              {## {% object.date_from %} ~ {% object.date_to %}  {% object.title %} ##}
              2020/01/01 ~ 2020/01/05 インド旅行
          </h2>
      </div>
      <div class="three wide column">
          <a href="#" class="ui green button" role="button">編集</a>
          <a href="{% url 'bookmarkapp:index' %}" class="ui black button" role="button">戻る</a>
      </div>
  </div>
  <!-- 日程 -->
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        {% for schedule in schedule_list %}
          <div class="{% if forloop.counter == 1 %} active {% endif %}item"
            data-tab="item{{ forloop.counter }}">{{ schedule }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="twelve wide stretched column">
      {% for schedule in schedule_list %}
        {# itemのタブコンテンツ #}
        <div class="ui {% if forloop.counter == 1 %} active {% endif %}tab"
          data-tab="item{{ forloop.counter }}">
          <table class="ui unstackable table">
            <thead>
              <tr>
                <th>time</th>
                <th>plan</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in plan_list.items %}
                {% if schedule == value.date %}
                  <tr>
                    <td>{{ value.estimated_time }}</td>
                    <td class="modal{{ forloop.counter }}">{{ value.name }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- モーダル表示部分 -->
  {% for index, plan in plan_list.items %}
    <div class="ui modal modal{{ forloop.counter }}">
      <i class="close icon"></i>
      <div class="header">
        {{ plan.estimated_time }} {{ plan.name }}
      </div>
      <div class="image content">
          <div class="ui small image">
              <img src="https://placehold.jp/200x200.png">
          </div>
          <div class="description">
            {% for todo in plan.todos %}
              <li class="sub_content"> {{todo }}</li>
            {% empty %}
              まだやりたいことが登録されていません。
            {% endfor %}
          </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{### ページごとのjsを定義 ###}
{% block extra_js %}
  <script>
    $('.accordion-title').click(function(){
      $('.ui.accordion').accordion();
    });
    {% for plan in plan_list %}
      $('.modal{{ forloop.counter }}').click(function () {
          $('.ui.modal{{ forloop.counter }}').modal('show');
      });
    {% endfor %}

    $('.tabular.menu .item').tab();
  </script>
{% endblock %}