{### base.htmlを継承する ###}
{% extends 'base.html' %}

{### staticディレクトリ配下を参照するおまじない ###}
{% load static %}

{### ページタイトル（タブに表示されるとこ）を定義 ###}
{% block title %}旅のしおり詳細{% endblock %}

{### ページごとのcssを定義 ###}
{% block extra_css %}
{% endblock  %}

{### ページの内容を定義 ###}
{% block content %}
{### パンくずリスト ###}
<div class="ui breadcrumb">
    <a class="section" href="{% url 'bookmarkapp:index' %}">旅行のしおり一覧</a>
    <div class="divider"> > </div>
    <div class="active section">
        {{ top_info.date_from }} ~ {{ top_info.date_to }}  {{ top_info.title }}
    </div>
</div>
<!-- タイトル -->
<div class="ui grid" style="margin-top:30px;">
    <div class="thirteen wide column">
        <h2 class="ui header">
            {{ top_info.date_from }} ~ {{ top_info.date_to }}  {{ top_info.title }}
        </h2>
    </div>
    <div class="three wide column">
        <a href="#" class="ui green button" role="button">編集</a>
        <a href="{% url 'bookmarkapp:index' %}" class="ui black button" role="button">戻る</a>
    </div>
</div>
<!-- 日程 -->
<div class="ui styled accordion" style="margin-top: 40px;">
    <!-- Detailの数だけループ -->
    {% for detail in detail_list %}
        <div class="title">
            <i class="calendar check outline icon"></i>
            {{ detail.date }}　{{ detail.main_content }}
        </div>
        <div class="content">
            <ul>
                {% for sub_detail in sub_detail_list%}
                    {% if sub_detail.detail.date == detail.date %}
                        <li class="sub_detail{{ forloop.counter }}">
                            {{ sub_detail.time }}　{{ sub_detail.main_content }}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<!-- モーダル表示部分 -->
{% for sub_detail in sub_detail_list %}
<div class="ui modal modal{{ forloop.counter }}">
    <i class="close icon"></i>
    <div class="header">
        {{ sub_detail.time }} {{ sub_detail.main_content }}
        {% if sub_detail.hp_url is not None %}
        <a href="{{ sub_detail.hp_url }}" class="mini ui blue button position" role="button"
            style="position: absolute; right: 160px;">
            HP
        </a>
        {% endif %}
        {% if sub_detail.map_url is not None %}
        <a href="{{ sub_detail.map_url }}" class="mini ui teal button" id="detail_button" role="button"
            style="position: absolute; right: 90px;"> </a>
        地図
        </a>
        {% endif %}
        {% if sub_detail.root_url is not None %}
        <a href="{{ sub_detail.root_url }}" class="mini ui grey button" id="detail_button" role="button"
            style="position: absolute; right: 20px;"> </a>
        経路
        </a>
        {% endif %}
    </div>
    <div class="image content">
        <div class="ui small image">
            <img src="https://placehold.jp/200x200.png">
        </div>
        <div class="description">
            {% if sub_detail.content1 is None %}
            まだやりたいことが登録されていません。
            {% else %}
                <li class="sub_content"> sub_detail.content1</li>
                {% if sub_detail.content2 is not None %}
                    <li class="sub_content"> sub_detail.content2</li>
                {% endif %}
                {% if sub_detail.content3 is not None %}
                    <li class="sub_content"> sub_detail.content3</li>
                {% endif %}
                {% if sub_detail.content4 is not None %}
                    <li class="sub_content"> sub_detail.content4</li>
                {% endif %}
                {% if sub_detail.content5 is not None %}
                    <li class="sub_content"> sub_detail.content5</li>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{### ページごとのjsを定義 ###}
{% block extra_js %}
<script type="text/javascript">

    $(".ui.accordion").accordion();
    {% for _ in sub_detail_list %}
    $(".sub_detail{{ forloop.counter }}").click(function () {
        $('.ui.modal{{ forloop.counter }}').modal('show');
    });
    {% endfor %}

</script>
{% endblock  %}