{% extends 'base.html' %}

{% load static %}

{% block title %}旅のしおり詳細作成{% endblock %}

{% block extra_css %}
{% endblock  %}

{% block content %}
<!-- パンくずリスト -->
<div class="ui breadcrumb">
    <a class="section" href="{% url 'bookmarkapp:index' %}">旅行のしおり一覧</a>
    <div class="divider"> > </div>
    <div class="active section">
        旅のしおり作成
    </div>
</div>

<!-- メッセージ -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
                <p>正しい値を入力してください。</p>
            </div>
        {% elif message.tags == "success" %}
            <div class="ui positive message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- メイン処理 -->
<h3>日付別の概要を作ろう！</h3>
<hr color="#C0C0C0">
<div class="ui steps">
    <div class="step">
        <i class="plane icon"></i>
        <div class="content">
            <div class="title">Travel Plan</div>
            <div class="description">いつ・どこに行く？</div>
        </div>
    </div>
    <div class="active step">
        <i class="map icon"></i>
        <div class="content">
            <div class="title">Daily Plan</div>
            <div class="description">その日何する？</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="handshake icon"></i>
        <div class="content">
            <div class="title">Confirm Plan</div>
            <div class="description">これでOK？</div>
        </div>
    </div>
</div>
<h4>旅行予定期間</h4>
{{top_info.date_from}}　～　{{top_info.date_to}}

<hr color="#C0C0C0">
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="ui grid">
        {% for form in formset %}
            {{ form.id }}
            <div class="four wide column">
                {% if forloop.first %}
                    <h4>何日に？</h4>
                {% endif %}
                <div class="ui input">
                    <input type="date" id="date{{ forloop.counter0 }}" name="date" readonly>
                </div>
            </div>
            <div class="twelve wide column">
                {% if forloop.first%}
                    <h4>なにする？</h4>
                {% endif %}
                <div class="ui input">
                    <input type="text" id="main_content" size="80" placeholder="有名な温泉巡り" name="main_content">
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="margin-top:30px">
        <a class="ui blue button mini" href="{% url 'bookmarkapp:top_create' %}" >戻る</a>
        <button class="ui blue button mini" type="submit">確認画面へ</button>
    </div>
    {% comment %} <!-- 行選択してない場合は追加ボタンを更新・削除ボタンに変更 -->
    {% if selected_detail == null %}
        <!-- top画面から遷移してきた場合は戻るボタンを表示 -->
        {% if top_to_detail != null %}
            <button class="ui gray button mini" type="submit" name="next" value="back_top">戻る</button>
        {% endif %}
            <button class="ui blue button mini" id="save_and_add" type="submit" name="next" value="save_and_add">追加</button>
            <button class="ui blue button mini" type="submit" name="next" value="detail_confirm">確認画面へ</button>
    {% else %}
        <!-- 更新用id -->
        <input type="hidden" name="detail_id" value={{selected_detail.0.id}}></p>
        <button class="ui blue button mini" id="detail_update" type="submit" name="next" value="detail_update">修正</button>
        <button class="ui red button mini" type="submit" name="next" value="detail_delete" onclick="return confirm('本当に削除しますか？')">削除</button>
        <button class="ui blue button mini" type="submit" name="next" value="detail_confirm">確認画面へ</button>
    {% endif %} {% endcomment %}
</form>
{% endblock %}

{### ページごとのjsを定義 ###}
{% block extra_js %}
<script type="text/javascript">
$(function () {
    {% for date in date_list %}
        $('#date{{ forloop.counter0 }}').val('{{ date }}');
    {% endfor %}
})
    // 戻るボタン押下時以外は必須項目に変更
    $('#save_and_add, #detail_update').hover(() => {
        document.getElementById("date").required = true;
        document.getElementById("main_content").required = true;
    }, function () {
        document.getElementById("date").required = false;
        document.getElementById("main_content").required = false;
    });
    // 明細行編集時に編集中の日付とやることを表示
    {% if selected_detail != null %}
        document.getElementById('date').value = "{{ selected_detail.0.date|date:"Y-m-d" }}";
        document.getElementById('main_content').value = "{{ selected_detail.0.main_content }}";
    {% endif %}
</script>
{% endblock  %}