{### base.htmlを継承する ###}
{% extends 'base.html' %}

{### staticディレクトリ配下を参照するおまじない ###}
{% load static %}

{### ページタイトル（タブに表示されるとこ）を定義 ###}
{% block title %}旅のしおり一覧{% endblock %}

{### ページごとのcssを定義 ###}
{% block extra_css %}
{% endblock  %}

{### ページの内容を定義 ###}
{### semantic uiを使って組むなら公式ページへ ###}
{### https://semantic-ui.com/introduction/getting-started.html ###}

{% block content %}
<!-- メッセージ -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="ui positive message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
                <p>次の旅の予定を立てましょう！</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="ui grid">
    <div class="fourteen wide column">
        <h2 class="ui header">旅のしおり一覧</h2>
    </div>
    <div class="two wide column">
        <a href="{% url 'bookmarkapp:top_create' %}" class="ui blue button" role="button">追加</a>
    </div>
</div>

<div class="ui three column grid">
    {% for item in object_list %}
    <div class="column">
        <div class="ui fluid card">
            <div class="header">
                {{ item.date_from }} ~ {{ item.date_to }}
            </div>

            <a href="{% url 'bookmarkapp:detail' item.pk %}" class="image hover-darken">
                {% if item.images.url != "" %}
                    <img src="{{ item.images.medium.url }}">
                {% else %}
                <img src="http://placehold.it/200x200/?text=未設定">
                {% endif %}
            </a>
            <div class="content">
                <h4 class="ui header">
                    {{ item.title }}
                    <div class="ui sub header">
                        {{ item.memo }}
                    </div>
                </h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{### ページごとのjsを定義 ###}
{### なければ何も書かなくてok ###}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
{% endblock  %}