{% extends 'base.html' %}

{% load static %}

{% block title %}旅のしおり副詳細削除{% endblock %}

{% block extra_css %}
{% endblock  %}

{% block content %}
<!-- パンくずリスト -->
<div class="ui breadcrumb">
    <a class="section" href="{% url 'bookmarkapp:index' %}">旅行のしおり一覧</a>
    <div class="divider"> > </div>
    <a class="section" href="{% url 'bookmarkapp:detail' sub_detail_list.detail.top.id %}">{{ sub_detail_list.detail.top.date_from }} ~
        {{ sub_detail_list.detail.top.date_to }} {{ sub_detail_list.detail.top.title }}</a>
    <div class="divider"> > </div>
    <div class="active section">
        旅のしおり副詳細削除
    </div>
</div>

<!-- メイン処理 -->
<div style="margin-top: 40px;">
    <form action="" method="POST">{% csrf_token %}
        <input class="ui red button" type="submit" value="削除します" onclick="return confirm('本当に削除しますか？')">
    </form>
</div>
{% endblock %}

{### ページごとのjsを定義 ###}
{% block extra_js %}
{% endblock  %}