{% extends 'base.html' %}

{% load static %}

{% block title %}旅のしおり作成{% endblock %}

{% block extra_css %}
{% endblock  %}

{% block content %}
<!-- パンくずリスト -->
<div class="ui breadcrumb">
    <a class="section" href="{% url 'bookmarkapp:index' %}">旅行のしおり一覧</a>
    <div class="divider"> > </div>
    <div class="active section">
        旅のしおり作成
    </div>
</div>

<!-- メッセージ -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    {{ message }}
                </div>
                <p>正しい値を入力してください。</p>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- メイン処理 -->
<h3>新しい旅行の予定を立てよう！</h3>
<hr color="#C0C0C0">
<div class="ui steps">
    <div class="active step">
        <i class="plane icon"></i>
        <div class="content">
            <div class="title">Travel Plan</div>
            <div class="description">いつ・どこに行く？</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="map icon"></i>
        <div class="content">
            <div class="title">Daily Plan</div>
            <div class="description">その日何する？</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="handshake icon"></i>
        <div class="content">
            <div class="title">Confirm Plan</div>
            <div class="description">これでOK？</div>
        </div>
    </div>
</div>
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <h4>旅行のタイトルは？</h4>
    <div class="ui input">
        <input type="text" id="title" size="80" placeholder="家族みんなで温泉旅行！" value="" name="title" required>
    </div>
    <h4>どんな旅行？</h4>
    <div class="ui input">
        <input type="text" id="memo" size="80" placeholder="年に一度の恒例行事" value="" name="memo">
    </div>
    <div class="ui form" style="margin-top:20px;">
        <div class="four fields">
            <div class="field">
                <h4>いつから？</h4>
                <div class="ui input">
                    <input type="date" value="{{top_info.date_from.value}}" name="date_from" required>
                </div>
            </div>
            <div class="field">
                <h4>いつまで？</h4>
                <div class="ui input">
                    <input type="date" value="{{top_info.date_to.value}}" name="date_to" required>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- 確認画面から遷移した場合はそのまま確認画面に遷移するボタンを表示 -->
    {% if confirmed != null %}
        <button class="ui blue button mini" type="submit" name="next" value="top_confirm">確認画面へ</button>
    {% else %}
        <button class="ui blue button mini" type="submit" name="next" value="create_detail">次へ</button>
    {% endif %}
</form>
{% endblock %}

{### ページごとのjsを定義 ###}
{% block extra_js %}
<script type="text/javascript">
    // top画面に遷移してきた場合にセッションに保持された値を表示
    {% if top_info.title.value != None %}
       document.getElementById('title').value = "{{ top_info.title.value }}";
    {% endif %}
    {% if top_info.memo.value != None %}
       document.getElementById('memo').value = "{{ top_info.memo.value }}";
    {% endif %}
</script>
{% endblock  %}